#words {
    color: black;
    font-size: 20px;
}

.display-4 {
    color: white;
}

.lead {
    color:white;
}

.jumbotron{
    background-image: url("../images/life.jfif");
}

body{
    background-color: rgb(193, 219, 223)
}

.col-sm{
    padding-right: 70%;
}

#green-house{
    background-color: rgb(193, 219, 223);
}

